doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
  
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  
    titlehttp://localhost:3000/
      block title
      |  - #{appName}

    meta(name='description', content='Form5 Node.js skeleton that uses Express, Mongoose, Coffeescript, LESS css, Twitter bootstrap and more...')
  
    link(rel='icon', href='/img/favicon.ico', type='image/x-ico')
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/vnd.microsoft.icon')
        

    != css('vendor/bootstrap/css/bootstrap')
    
    != css('vendor/bootstrap/journal/bootswatch')
    != css('vendor/bootstrap/css/bootstrap-responsive')
    != css('style')
    // if lte IE 9
      !css('style-ie9-lte')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    
  body
    .navbar
      .navbar-inner
        .container
          button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar          
        
          a.brand(href='/') F5
          
          .nav-collapse.collapse

            ul.nav
              li
                a(href='/') Home
                
              if req.user
                li
                  a(href='/users/') Users
                li
                  a(href='/articles/') Manage articles

            if req.user
              p.navbar-text.navbar-dashboard
                | Welcome, #{req.user.name}
                | | 
                a(href='/logout') logout
            else
              p.navbar-text.navbar-dashboard
                a(href='/login') Login
              
    .container
      block content
      
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")    
    != js('vendor/bootstrap')